<h2>Current Book</h2>
<% if @current_book %>
    <%= @current_book.image %>
    <%= link_to @current_book.title, club_shelf_book_path(:club_id => params[:id], :shelf_id => @current_book.shelf_id, :id => @current_book.id ) %>
<% end %>

<h2>Upcoming Books</h2>
<% if @shelf.upcoming_books %>
    <% @upcoming_books.each do |book| %>
        <%= book.image %>
        <%= link_to book.title, club_shelf_book_path(:club_id => params[:id], :shelf_id => book.shelf_id, :id => book.id ) %>
    <% end %>
<% end %>

<h2>Read Books</h2>
<% if @shelf.read_books %>
    <% @read_books.each do |book| %>
        <%= book.image %>
        <%= link_to book.title, club_shelf_book_path(:club_id => params[:id], :shelf_id => book.shelf_id, :id => book.id ) %>
    <% end %>
<% end %>

<p><%= link_to "Add a Book", { :action => "new", :club_id => params[:id], :controller => "books", :shelf_id => params[:id] } %></p>