<h1 class="title center">Edit Club</h1>

<%= simple_form_for @club, 
  wrapper: :floating_labels_form,
  defaults: { input_html: { style: 'height: 60px' } } do |f| %>

  <%= f.error_notification %>

  <%= f.input :name %>

  <%= f.input :genre, collection: ["Action", "Adventure", "Classic", "Comedy", "Crime", "Drama", "Dystopia", "Fantasy", "General", "Historical", "Horror", "Mystery", "Non-fiction", "Romance", "Satire", "Sci-Fi", "Tech", "Thriller", "YA Fiction" ], label_html: { class: 'style-label' } %>

  <%= f.input :subgenre, as: :string, required: false %>

  <%= f.input :description, as: :string %>
  
  <%= f.input :club_image %>

  <%= f.input :cover_image %>

  <%= f.button :submit, class: "btn-primary" %>
<% end %>