<%# 1. Create form_for @club with appropriate fields, routes and redirects — include sticky code of conduct (default) %>
    <%# Title %>
    <%# Description %>
    <%# Genre %>
    <%# Random or Selection %>
    <%# Add Book %>
    <%# Code of Conduct %>

<h1>New Club</h1>

<%= simple_form_for @club, 
  wrapper: :floating_labels_form,
  defaults: { input_html: { style: 'height: 50px' } } do |f| %>

  <%= f.error_notification %>

  <%= f.input :name %>

  <%= f.input :genre, collection: ["Science Fiction", "Fantasy", "Adventure", "Mystery", "Drama", "Romance", "Action", "Satire", "Horror", "Comedy", "YA Fiction", "Dystopia", "Thriller", "Classic", "Crime", "Historical", "Non-fiction" ] %>

  <%= f.input :subgenre, as: :string, required: false %>
  
  <%= f.input :description, as: :string %>

  <%= f.button :submit, class: "btn-primary" %>
<% end %>