<%# 1. Create form_for @club with appropriate fields, routes and redirects — include sticky code of conduct (default) %>
    <%# Title %>
    <%# Description %>
    <%# Genre %>
    <%# Random or Selection %>
    <%# Add Book %>
    <%# Code of Conduct %>

<h1 class="title center">New Club</h1>

<%= simple_form_for @club, 
  wrapper: :floating_labels_form,
  defaults: { input_html: { style: 'height: 60px' } } do |f| %>

  <%= f.error_notification %>

  <%= f.input :name %>

  <%= f.input :genre, collection: @genres, label_html: { class: 'style-label' }, include_blank: 'Select main genre' %>

  <%= f.input :subgenre, as: :string %>
  
  <%= f.input :description %>

  <%= f.button :submit, class: "btn-primary" %>
<% end %>