<%# 1. Do not restrict club browsing for logged in users %>
<%# 2. Allow users to join club if not joined %>
<%# 3. Show current read, club title, club description, club cover %>
<%# 4. Show member count, member list, and admin %>
<%# 5. Show club shelf %>
<%# 6. Allow club members to add one book to club shelf %>
<%# 7. Guide users on how to start a discussion thread %>
<%# 8. Allow users to participate in existing discussion thread, regardless of clubs %>
<%# 9. Add a sticky code of conduct sidebar %>

<h1><%= @club.name %></h1>
<p><%= @club.genre %></p>

<div class="club">
    <%= link_to_toggle_club_follow @club %>
</div>

<p><%= pluralize(@club.followers_count, "Follower") %></p>

<p><%= @club.description %></p>

<%= link_to "See Shelf", club_shelf_path(@shelf) %>

<% if @club.memberships.find_by_user_id(current_user.id).admin == true %>

    <%= button_to "Edit Club", edit_club_path, method: "get", class: "btn btn-primary btn-md" %>

    <%= button_to 'Delete Club', { :controller => :clubs, :action => 'destroy' }, method: "delete", class: "btn btn-danger btn-md", data: { :confirm => 'Are you sure?' } %>

<% end %>