<%# 1. Do not restrict club browsing for logged in users %>
<%# 2. Allow users to join club if not joined %>
<%# 3. Show current read, club title, club description, club cover %>
<%# 4. Show member count, member list, and admin %>
<%# 5. Show club shelf %>
<%# 6. Allow club members to add one book to club shelf %>
<%# 7. Guide users on how to start a discussion thread %>
<%# 8. Allow users to participate in existing discussion thread, regardless of clubs %>
<%# 9. Add a sticky code of conduct sidebar %>

<div class="club-wrapper">
    <div class="club">

        <h1><%= @club.name %></h1>

        <div class="tags">
            <p class="genre tag <%= @club.genre.downcase %> "><%= @club.genre %></p>
            <p class="subgenre tag"><%= @club.subgenre %></p>
        </div>

        <p><%= @club.description %></p>

        <div class="follow-details">
            <%= link_to_toggle_club_follow @club %>
            <%= pluralize(@club.followers_count, "Follower") %>
            
            <% @followers.each do |follower| %>
                <%= link_to "#{follower.first_name} #{follower.last_name}", admin_user_path(follower) %>
                <%=  %>
            <% end %>
        </div>

        <div class="shelf-wrapper">
            <%= render "shelf" %>
        </div>

        <div class="buttons">
            <% if !@membership_status.nil? %>
                <% if @membership_status.admin == true %>

                    <%= button_to "Edit Club", edit_club_path, method: "get", class: "btn btn-primary btn-md" %>

                    <%= button_to 'Delete Club', { :controller => :clubs, :action => 'destroy' }, method: "delete", class: "btn btn-danger btn-md", data: { :confirm => 'Are you sure?' } %>

                <% end %>
            <% end %>
        </div>

    </div>

    <div class="code-of-conduct">
        <h1>Code of Conduct</h1>
        <p><i>The following is taken from the <a href="https://www.contributor-covenant.org/version/1/4/code-of-conduct">Contributor Covenant:</a>.</i></p>
        <p>In the interest of fostering an open and welcoming environment, we as contributors and maintainers pledge to making participation in our project and our community a harassment-free experience for everyone, regardless of age, body size, disability, ethnicity, sex characteristics, gender identity and expression, level of experience, education, socio-economic status, nationality, personal appearance, race, religion, or sexual identity and orientation.</p>
        
        <p>Examples of behavior that contributes to creating a positive environment include:</p>
        <ul>
            <li>Using welcoming and inclusive language</li>
            <li>Being respectful of differing viewpoints and experiences</li>
            <li>Gracefully accepting constructive criticism</li>
            <li>Focusing on what is best for the community</li>
            <li>Showing empathy towards other community members</li>
        </ul>

        <p>Examples of unacceptable behavior by participants include:</p>
        <ul>
            <li>The use of sexualized language or imagery and unwelcome sexual attention or advances</li>
            <li>Trolling, insulting/derogatory comments, and personal or political attacks</li>
            <li>Public or private harassment</li>
            <li>Publishing others’ private information, such as a physical or electronic address, without explicit permission</li>
            <li>Other conduct which could reasonably be considered inappropriate in a professional setting</li>
        </ul>

        <p>Instances of abusive, harassing, or otherwise unacceptable behavior may be reported by contacting the project team at <strong>janicedarikho@gmail.com</strong>. All complaints will be reviewed and investigated and will result in a response that is deemed necessary and appropriate to the circumstances. The project team is obligated to maintain confidentiality with regard to the reporter of an incident. Further details of specific enforcement policies may be posted separately.</p>

        <p>Project maintainers who do not follow or enforce the Code of Conduct in good faith may face temporary or permanent repercussions as determined by other members of the project’s leadership.</p>
    </div>
</div>