<div class="discussion-form">
    <h2>Add Discussion</h2>

    <%= form_for [@club, @shelf, @book, @discussion] do |f| %>
        <%= f.text_area :title, class: "form-control", placeholder: "Title" %>

        <br>
        <%= f.text_area :book_quote, class: "form-control", placeholder: "Add an optional book quote.." %>
        <br>
        <%= f.text_area :body, class: "form-control", placeholder: "Write a discussion.." %>
        
        <%= f.submit "Create Discussion", class: "btn btn-primary btn-md", style: "margin-top: 5px" %>
    <% end %>
</div>

