<div class="discussions">
    <h2>Discussions</h2>

    <% if @book.discussions.empty? %>
        There are no discussions yet.    
    <% else %>
        <% @book.discussions.each do |d| %>
            <div class="discussion block">
                <h3><%= d.title %></h3>
                <p><i><%= d.book_quote if d.book_quote %></i></p>
                <p><%= d.body %></p>
                        <i>Written by <%= d.user == current_user ? "you" : d.user.first_name %> <%= time_ago_in_words(d.created_at) %> ago</i>

                <% if d.user == current_user %>
                    <%= link_to "Edit", edit_club_shelf_book_discussion_path(@club, @shelf, @book, :discussion_id => d.id)%>
                    <%= link_to "Delete", club_shelf_book_discussion_destroy_path(@club, @shelf, @book, :discussion_id => d.id), :method => :delete %>
                <% end %>
            </div>

            <p><%= pluralize(d.comments.count, "comment") %></p>
            
            <% if d.comments.any? %>
                <% d.comments.each do |comment| %>
                    <div class="comment">
                        <i><%= time_ago_in_words(comment.created_at) %> ago</i>
                        <%= comment.user.first_name %> says:
                        <%= comment.body %>

                        <% if comment.user == current_user || @membership_status.admin == true %>
                            <%= link_to "Delete", club_shelf_book_discussion_comment_destroy_path(@club, :book_id => params[:id], :discussion_id => d.id, :comment_id => comment.id), :method => :delete %>
                        <% end %>
                    </div>
                <% end %>
            <% end %>

        <div class="comment-form">
            <%= form_for [@club, @shelf, @book, Discussion.find(d.id), @comment] do |f| %>
                <%= f.text_area :body, class: "form-control", rows: "1", placeholder: "Write a comment..." %>
                <%= f.submit "Post Comment", class: "btn btn-md btn-primary", style: "margin-top: 3px" %>
            <% end %>
        </div>

        <% end %>
    <% end %>
</div>

<hr>
