<div class="search-bar">
    <%= form_tag(new_club_shelf_book_path, method: :get) do %>
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search by Title or Author" %>
        <%= submit_tag "Search", class: "btn btn-primary btn-md", style: "margin-top: 5px" %>
    <% end %>
</div>

<div class="search-results-wrapper">
    <% if @books %>
        <% @books.each do |book| %>
            <div class="search-result">
                <%= link_to image_tag(book.covers[:small]), book.info_link if book.covers[:small] && book.info_link %>
                <h3><strong>
                    <% if book.info_link && book.title %>
                        <%= link_to book.title.truncate(36), book.info_link %>
                    <% elsif book.title %>
                        <%= book.title.truncate(36) %>
                    <% else %>
                        Title Unavailable
                    <% end %>
                </strong></h3>
                <p>By: <%= book.authors.join(', ').truncate(36) %></p>
                </p>Rating: <%= book.average_rating ? book.average_rating : "N/A" %></p>
                <%= button_to  "Add Book To Shelf", club_shelf_books_path(:action => "create", :isbn => book.isbn_10), class: 'btn btn-primary' %>
            </div>
        <% end %>
    <% end %>
</div>