<%# 1. Add Slack link %>
<%# 2. Add books read and clubs part of %>
<div class="profile-wrapper">

    <div class="primary-profile">
        <%= image_tag @user.image.url %>

        <h1 class="non"><%= full_name(@user) %></h1>

        <i class="fas fa-map-marker-alt"></i>
        <%= @user.country_name  %>
    </div>

    <div class="secondary-profile">
        <h1 class="sub">Bio</h1>
            <%= show_bio(@user) %>
        
        <h1 class="sub">Clubs</h1>
            <%= show_clubs(@user) %>
    </div>
        
    <div class="social">
        <h1 class="sub">Find me on</h1>
            <%= show_socials(@user, 'twitter') %>
            <%= show_socials(@user, 'facebook') %>
            <%= show_socials(@user, 'instagram') %>

        <h1 class="sub">Let's chat on Slack</h1>
            <%= show_socials(@user, 'slack') %>
    </div>

</div>

<p class="narrow center">
    <%= random_book_quote(@quote, @author) %>
</p>

<%= button_to "Edit profile", edit_admin_user_path, { method: 'get', class: 'btn btn-primary' } %>
