<%# 1. Add Slack link %>
<%# 2. Add books read and clubs part of %>

<%= image_tag "#{current_user.image}" %>
<h1><%= "#{current_user.first_name} #{current_user.last_name}" %></h1>

<%= button_to "Edit profile", edit_admin_user_path, { method: 'get' } %>

<i class="fas fa-map-marker-alt"></i>
<%= current_user.location %>

<h2>Bio</h2>
    <%= current_user.bio %>

<h2>Find me on</h2>
    <%= current_user.twitter %>
    <%= current_user.facebook %>
    <%= current_user.instagram %>

<h2>Let's chat on Slack</h2>
    <%= current_user.slack %>

<h2>Clubs</h2>
    <% @clubs.each do |club| %>
        <div>
            <%= club.name %>
            <%= club.genre %>
        </div>
    <% end %>

<h2>Shelf</h2>
    <% current_user.books.each do |book| %>
        <div>
            <img src="" />

            <%= book.title %>
            <%= book.author %>
            Reading with <%= book.shelf.club %>
        </div>
    <% end %>
