<!DOCTYPE html>
<html>
  <head>
    <title>RebelBase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>

    <footer>
      <p>Explore hundreds of books meticulously handpicked by people like you.</p>
    </footer>
  
  </body>
</html>
