<!DOCTYPE html>
<html>
  <head>
    <title>RebelBase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="logo">
        <img src="/images/logo.png" />
      </div>
      <nav>
        <%= link_to "About", about_path  %>
        <%= link_to "Sign In", new_session_path %>
        <%= link_to "Sign Up", new_user_path %>
      </nav>
    </header>

    <%= yield %>

    <footer>
    </footer>
  
  </body>
</html>
